{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}


<div class="container">
  <h1>Crypto Tax Trade Validator</h1>

  <br />
  <h4>
  Instructions
  </h4>
  <p>
    <ul>
        <li>
            The uploader only accepts CSV files. 
        </li>
        <li>
            Files must be Bitcoin.tax formatted and include all relevant columns. No extra non-trade rows, or partially filled rows, are allowed.
        </li>
        <li>
            The Trades CSV must be uploaded, and an option for the Type of opening/closing statement must be chosen (one of the three below). 
            Otherwise, the Validator will fail without warning.
        </li>
        <li>
            An Opening/Closing CSV, Income CSV, and Spending CSV are optional. If you select an Type of Opening/Closing CSV other than 
            "No opening or closing statement", you must upload an Opening/Closing CSV.
        </li>
        <li>
            Please make sure to read validation errors carefully after pressing Submit.
        </li>
        <li>
          Only press the Submit button ONCE. It may take up to 30 seconds to create a report. If 30 seconds pass, please refresh the page instead of pressing Submit again.
      </li>
    </ul>
  </p>
  <br />

  <h3>
    Upload & Options
  </h3>
  
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

  
</div>
{% endblock %}

<!-- <form action="" method=post enctype=multipart/form-data>
  <p>
    <input type=file name=trades>
    <input type=file name=opening>
    <input type=submit value=Upload>
</form> -->

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}